@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

@font-face {
  font-family: font1;
  src: url(/wrapped/font/font1.woff2);
}

@font-face {
  font-family: font2;
  src: url(/wrapped/font/font2.woff);
}

@font-face {
  font-family: "Kepler-Std Regular Display";
  font-style: normal;
  font-weight: normal;
  src: local("Kepler Std Display"),
    url("../assets/fonts/KeplerStd-ScnDisp.otf") format("otf");
}

@font-face {
  font-family: "Kepler-Std Bold Semicondensed Display";
  font-style: normal;
  font-weight: normal;
  src: local("Kepler Std Bold Semicondensed Display"),
    url("../assets/fonts/KeplerStd-BoldScnDisp.woff") format("woff");
}

@font-face {
  font-family: "Kepler Std Bold Semicondensed Display Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/KeplerStd-ScnDisp.otf");
}

/* navbar */
.Header_Wrapper {
  width: 100%;
  position: relative;
  position: sticky;
  /* transition: all 0.3s ease-in; */
  top: 0;
  z-index: 9;
  height: 120px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.Header_inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #fff; */
  padding: 0 20px;
  position: absolute;
  top: 0;
  z-index: 8;
  height: 90px;
}

.socialLinks_Wrapper {
  position: relative;
}

.socialLinks_inner {
  position: relative;
  display: flex;
  gap: 18px;
  opacity: 1;
  /* scale: 1; */
  opacity: 1;
  /* align-items: center; */
}

.abo {
  position: absolute !important;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
}

.socialLinklogoAnimate {
  /* display: none; */
  opacity: 0;
  width: 160px !important;
  pointer-events: none;
  /* scale: 0; */
}

/* .socialLinklogoAnimate img{

} */

.social-div-main {
  position: relative;
}

.social_elm {
  cursor: pointer;
  font-size: 21px;
  color: #d40f16 !important;
}

.Links_logoWrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logoCntr {
  width: 245px;
  height: auto;
  position: relative;
  cursor: pointer;
}

.logoCntr img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  /* transition: all 0.3s ease; */
}

.Links_logoAnimate {
  display: none;
  opacity: 1;
}

.search_Wrapper {
  position: relative;
  font-family: var(--font-family-secondary);
  display: flex;
  height: 35px;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
}

.searchdiv {
  display: flex;
  gap: 5px;
  border-radius: 30px;
  transition: all 0.3s ease;
  padding: 5px 20px;
  color: #db242a;
  font-weight: 600;
}

.search_icon {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.searchdiv:hover {
  background-color: #db242a2b;
}

.tn-nav-rel {
  position: fixed;
  top: 0;
}

.hamburger .line {
  width: 23px;
  height: 2px;
  background-color: #db242a;
  display: block;
  margin: 4px auto;
  transition: all .3s ease-in-out;
}

.nav {
  /* margin-top: 30px; */
  display: flex;
  z-index: 9;
  position: relative;
  justify-content: center;
  /* padding: 10px !important; */
  gap: 0px;
  height: auto;
}

.nav-items {
  cursor: pointer;
  /* color: black ; */
  transition: all 0.3s ease;
  /* width: 180px; */
  font-family: var(--font-family-secondary);
  /* height: 40px; */
  padding: 0 20px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  /* background-color: yellow; */
  color: rgba(0, 0, 0, 0.35);
  align-items: center;
  height: 100%;
  padding-bottom: 0.5rem;
  inset: 0;
}

.nav-items:hover,
.nav-items:focus {
  color: black;
}

.nav-items:focus~.nav-items,
.nav-items:hover~.nav-items {
  color: rgba(0, 0, 0, 0.35);
}

.nav:not(:focus-within):not(:hover) .nav-items {
  color: black;
}

.white-nav-small {
  /* display: none; */
  /* padding-top: 30px; */
  width: 90vw;
  z-index: 2;
  position: absolute;
  transition: all 0.5s ease;
  top: 63px;
  left: 0;
  width: 100%;
  overflow: hidden;
  /* padding-top: 200px; */
  height: calc(100% + 500px);
  /* border-radius: 7px; */
  height: 0px;
  background-color: white;

  margin: 0 auto;
}

.white-nav {
  /* display: none; */
  /* padding-top: 30px; */
  width: 90vw;
  z-index: 9;
  position: absolute;
  transition: all 0.5s linear;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  /* padding-top: 200px; */
  height: calc(100% + 500px);
  /* border-radius: 7px; */
  height: 0px;
  background-color: white;
  margin: 0 auto;
  clip-path: inset(0 0 100% 0);
}

.search {
  position: fixed;
  font-family: var(--font-family-secondary);
  /* top: 60px; */
  top: 70px;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  z-index: 9;
  /* background-color: rgba(0, 0, 0, .5); */
}

.search-div {
  transform: translateY(-100%);
  background-color: white;
  padding: 81px;
  width: 100%;
  display: flex;
  gap: 15px;
  flex-direction: column;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.tn-ham {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 900px) {
  .Header_Wrapper {
    justify-content: center;
    height: 60px;
  }

  .Header_inner {
    position: relative;
  }

  .socialLinks_Wrapper {
    display: none;
  }

  .Links_logoAnimate {
    width: 160px;
    display: flex;
  }

  #search {
    display: none;
  }

  .search_Wrapper {
    order: 1;
  }

  .Links_logoWrapper {
    order: 2;
  }

  .tn-ham {
    order: 3;
  }

  .searchdiv {
    padding: 0;
  }

  .tn-ham {
    display: block;
  }

  .tn-right .tn-ham {
    display: none;
  }

  .nav-menu-top {
    display: none !important;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1199px) {
  .nav-items {
    padding: 0 10px;
  }
}

/* navbar */


