.CreatorListHeroSec {
  /* background: linear-gradient(to right, #000, rgb(64, 0, 0)); */
  background: linear-gradient(to right, #000, #f13636);
  /* opacity: 0; */
  padding: 50px 0px 30px;
  /* padding: 50px 0px 30px; */
  color:#fff;
}


.followus {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.25);
  /* border-radius: 7px; */
  list-style: none !important;
  padding: 0px;
  margin-bottom: 0px;
  /* overflow: hidden; */
  background-color: #fff;
}

.followus a {
  color: initial;
}

.followus .items {
  position: relative;
  /* overflow: hidden; */
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.followus .items:hover {
  background: inherit;
  border-color: inherit;
  color: #000000;
}

.followus .items:last-child {
  border-bottom: none;
}

.followus .items .icons {
  width: 18px;
  height: 18px;
  color: #000;
}

.tooltipText {
  background-color: #fff;
  position: absolute;
  top: 0%;
  right: 90%;
  /* transform: translate(-0%, 0); */
  /* bottom: 100%; */
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 15px;
  opacity: 0;
  transition: all 0.5s;
  /* transform-origin: initial; */
  text-align: right;
  align-items: flex-end;
  display: flex;
  width: max-content;
  justify-content: right;
}


/*  Membuat dan style tip*/
.tooltipText::after {
  content: "";
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: 40%;
  margin-left: 5%;
  z-index: 10;
}
/* Hover text tooltip */
.followus .items:hover .tooltipText {
  opacity: 1;
  transform: translateX(-10px);
}


.contentSec {
  padding: 20px 0px;
  text-align: left;
}

.CreatorList_contentSec h1 {
  font-size: 5rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 25px;
  transition: all 0.3s ease;
  /* font-family: "Kepler-Std Regular Display"; */
  font-family: "Kepler Std Bold Semicondensed Display Italic";
}

.CreatorList_contentSec:hover h1 {
  color: var(--primary-color);
}
.CreatorList_contentSecExcerpt {
    font-size: 22px;
    font-family: kepler-std, serif !important;
    font-weight: 300;
    font-style: normal;
    color: var(--secondary-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: all 0.3s ease;
}

.collapsed {
  -webkit-line-clamp: 5; /* Limits to 7 lines */
}

.expanded {
  -webkit-line-clamp: unset;
  display: block;
  overflow: visible;
}
.ellipsis{

}
@media screen and (max-width: 900px) {
  .tooltipText {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0%;
    /* transform: translate(-0%, 0); */
    /* bottom: 100%; */
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: all 0.5s;
  }
  .followus .items:hover .tooltipText {
    opacity: 1;
    transform: translateY(25px);
  }
  .CreatorListHeroSec {
    padding: 70px 0px 30px;
  }

  .CreatorList_contentSec {
    padding: 10px 0px;
  }

  .CreatorList_contentSec h1 {
    font-size: 40px;
  }

  .CreatorList_contentSec p {
    font-size: 22px;
  }


  .followus {
    display: flex;
    margin-top: 20px;
    /* border; */
  }

  .followus .items {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: none;
  }

  .followus .items:last-child {
    border-right: none;
  }

  .CreatorListHeroBanner .heroSection {
    min-height: 44vw;
  }

  .CreatorListHeroBanner p {
    line-height: 1.3;
  }

}


/* creator_list_wrapper */
.containerr {
  max-width: clamp(760px, 80vw, 1200px);
  margin-inline: auto;
}

.creator_list_wrapper {
  position: relative;
  /* background: linear-gradient(to right, #000, #400000); */
  background: linear-gradient(to right, #000, #f13636);
  font-family: "Kepler-Std Regular Display";
}

.profile_container {
  gap: 2rem;
  padding: 3rem 0;
  margin: auto;
  color: white;
  border-bottom: 1px solid white;
}

.profile_container:first-child {
  border-top: 1px solid white;
}

.profile_image img {
  width: 100%;
  /* height: auto; */
  height: 480px;
  object-fit: cover;
}


.profile_content h1 {
  font-size: 55px;
  margin-bottom: 0.25rem;
  font-family: "Kepler Std Bold Semicondensed Display Italic";
  letter-spacing: 0.01em;

}

.profile_content h2 {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 1rem;
  font-weight: normal;
  font-family: "Kepler Std Bold Semicondensed Display Italic";

}

.profile_content p {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.4;
  font-family: kepler-std, serif !important;
}

.profile_content .trivia {
  margin-top: 1.5rem;
  color: #f5f5f5;
  font-weight: 300;
}

.profile_content .trivia strong {
  font-family: "Kepler Std Bold Semicondensed Display Italic" !important;
  letter-spacing: 0.02em;

}

/* Bars */
.bars_wrapper {
  width: 100px;
  height: 60%;
  /* background: linear-gradient(to right, #000, rgb(64, 0, 0)); */
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translate(0%, -50%);
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Add blur effect at the bottom */
.bars_wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100%;
  /* background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6)); */
  filter: blur(10px);
  pointer-events: none;
}

.bar_wrapper_inner {
  display: flex;
  align-items: center;
}

.bar_wrapper {
  align-items: center;
  display: flex;
  position: relative;
  cursor: pointer;
}

.bar {
  width: 3px;
  /* thickness of each bar */
  background-color: red;
  transition: all 0.3s ease;
  border-radius: 4px;
}

.bar_label {
  font-size: 0.75rem;
  /* margin-top: 5px; */
  opacity: 0;
  transition: all 0.3s ease;
  color: white;
  /* pointer-events: none; */
  cursor: pointer;
  font-weight: 600;
  position: absolute;
  right: 15%;
}

/* Show label on hover */
.bar_wrapper:hover .bar_label {
  opacity: 1;
}

/* Show label if active */
.bar_label.visible {
  opacity: 1;
}

.bar_wrapper:hover .bar_label,
.bar_wrapper.active .bar_label {
  opacity: 1;
}

/* Default desktop styles */
/* Active bar */
.bar.active {
  background-color: #fff;
}

/* Desktop layout (default) - horizontal bars */
.bar.tall {
  width: 45px;
  height: 2px;
}

.bar.short {
  width: 30px;
  height: 2px;
}

.bar.label_visible {
  height: 2px;
  width: 70px;
}

.bar:not(.label_visible) {
  height: 2px;
}

@media (hover: none) {
  .bar_label {
    opacity: 0;
  }
}

/* Bars */

/* Responsive */
.desc {
  margin-bottom: 0.5rem;
  transition: all 0.3s ease;
}

.readMoreBtn {
  background: none;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.25rem;
  cursor: pointer;
  padding: 0;
  margin-bottom: 10px;
  display: block;
  text-decoration: underline;
  display: inline-block;
  font-family: kepler-std, serif !important;

}

@media only screen and (max-width: 991px) {
  .profile_content {
    padding-top: 1rem;
  }

  .profile_image img {
    height: auto;
  }

  .profile_content h1 {
    font-size: 40px;
  }

  .bar.tall {
    width: 2px;
    height: 45px;
  }

  .bar.short {
    width: 2px;
    height: 30px;
  }

  .bar_label {
    display: none;
  }

  .bar.label_visible {
    height: 60px !important;
  }

  .bar_wrapper {
    flex-direction: row;
  }

  .bars_wrapper {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    position: fixed;
    height: 65px;
    transform: none;
    top: 70px;
    left: 0;
    background: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
    z-index: 9;
    gap: 0;
    padding: 0 0.25rem;
  }
/* Cloudy blur effect at bottom */
.bars_wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%; /* Adjust height for how much "cloud" you want */
  background: radial-gradient(ellipse at bottom,  #000000, rgb(0, 0, 0), transparent 100%);
  filter: blur(20px);
  pointer-events: none;
}
}

@media (max-width: 768px) {
  .profile_container {
    padding: 2rem 1rem;
  }

  .bars_wrapper {
    padding: 0 0.25rem;
  }

  .bar.tall {
    width: 2px;
    height: 45px;
  }

  .bar.short {
    width: 2px;
    height: 30px;
  }

  .bar.label_visible {
    height: 60px !important;
  }

  .bar_wrapper {
    flex-direction: row;
  }

  .profile_container {
    grid-template-columns: 1fr;
    text-align: start;
  }

  .profile_image img {
    /* max-width: 300px; */
    margin: 0 auto;
    height: auto;
  }

  .profile_content h1 {
    font-size: 2.25rem;
  }

  .profile_content h2 {
    font-size: 1.8rem;
  }

  .profile_content {
    padding-top: 1rem;
  }

  .profile_content p {
    font-size: 20px;
  }

  .bar_label {
    display: none !important;
  }

  .desc.collapsed {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .desc.expanded {
    display: block;
  }

  .read_more_btn {
    background: none;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;
    padding: 0;
    margin-bottom: 10px;
    display: block;
    text-decoration: underline;
    display: inline-block;
  }
}

/* creator_list_wrapper */

